html
    head
        title First Google Page
    body
        include ./template.pug
            p hello! you can log in to your google account by clicking login below!
            a(href="/auth/google") log in!